body {
  background-color: #281504;
}
.navbar {
  background-color: #014598;
}
.container-basic {
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.titulo-principal {
  width: 100%;
  text-align: center;
}
.titulo-principal h1 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  padding: 40px 0px;
  color: rgb(243, 75, 75);
}
.desc-titulo-principal {
  font-size: 20px;
  color: rgb(55, 173, 55);
  width: 100%;
  text-align: center;
}
.desc-titulo-secundario h2 {
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  color: rgb(180, 22, 1);
  text-decoration: center;
}
.desc-titulo-secundario {
  text-align: start;
}
.desc-video {
  padding: 40px 0px;
  text-align: center;
  font-size: 20px;
  color: #085f00;
}
#foot {
  text-align: right;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 50px 0px;
}
.slider__images {
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  transform: translateX(0);
}
.slider__images picture {
  width: calc(100% / 4);
}
.slider__images picture img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: center;
}
.alert-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 44, 52, 0.6);
  justify-content: center;
  align-items: center;
}
.alert {
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  padding: 30px 40px;
  min-width: 450px;
  position: relative;
  box-shadow: 1px 2px 3px rgb(60, 65, 75);
}
.alert__title {
  flex-basis: 100%;
  font-size: 25px;
  padding: 25px 0px;
  margin: 0px;
}
.alert__title span {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 20px;
  color: black;
  display: block;
  padding: 2px 10px;
  border: 1px solid rgb(60, 65, 75);
}
.alert__title span:hover {
  background-color: rgb(60, 65, 75);
  color: white;
  border: 1px solid white;
}
.alert__text {
  font-size: 18px;
  flex-basis: 100%;
}
.alert-show {
  display: flex;
}
@media screen and (max-width: 768px) {
  .slider__images picture img {
    height: 600px;
  }
}
@media screen and (max-width: 450px) {
  .slider__images picture img {
    height: 300px;
  }
}
