body {
  background-color: #281504;
}
.navbar {
  background-color: #014598;
}
.container-basic {
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
}
.titulo-principal {
  width: 100%;
  text-align: center;
}
.titulo-principal h1 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  padding: 40px 0px;
  color: rgb(243, 75, 75);
}
.desc-titulo-principal {
  font-size: 20px;
  color: white;
  width: 100%;
  text-align: center;
}
.desc-titulo-secundario h2 {
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  color: rgb(11, 13, 138);
  text-decoration: center;
}
.desc-titulo-secundario {
  text-align: start;  
}
.desc-video {
  padding: 40px 0px;
  text-align: center;
  font-size: 20px;
  color: white;
}
#foot {
  text-align: right;
}

#carouselExampleControls {
  padding-bottom: 20px;
}
