.container-basic {
    background-color: #002551;
    width: 100%;
  }
  .navbar {
    background-color: #014598;
  }
  .container-basic {
    background-color: #002551;
    width: 100%;
  }
  .navbar {
    background-color: #014598;
  }
  
  /**************/
.logo-torneo {
  padding-left: 40%;
  margin: 0;
}  
.info-torneo {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  padding-left: 10%;
  padding-right: 10%;
}
.img-2 {
  padding-left: 35%;
  margin: auto;
}
/************/
.temporada-2021 {
  color: orangered;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 
}
 
.p-torneo {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  color: #f1f1f1;
  padding: 20px 0px;
  transition: all 0.2s;
}
.calendario-completo {
  color: red;
  border-bottom: 1px solid black;
}
/***********/
.clasificacion-a {
  color: orangered;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 
}
.equipo {
  color: #f1f1f1;
}
/***********/
.salon-fama{
  color: orangered;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 
}
.info-salonf{
  color: orange;
}
.fama-a {
  color: #f1f1f1;
}
.fama-b {
  color: red;
}
.alert-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 44, 52, 0.6);
  justify-content: center;
  align-items: center;
}
.alert {
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  padding: 30px 40px;
  min-width: 450px;
  position: relative;
  box-shadow: 1px 2px 3px rgb(60, 65, 75);
}
.alert__title {
  flex-basis: 100%;
  font-size: 25px;
  padding: 25px 0px;
  margin: 0px;
}
.alert__title span {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 20px;
  color: black;
  display: block;
  padding: 2px 10px;
  border: 1px solid rgb(60, 65, 75);
}
.alert__title span:hover {
  background-color: rgb(60, 65, 75);
  color: white;
  border: 1px solid white;
}
.alert__text {
  font-size: 18px;
  flex-basis: 100%;
}
.alert-show {
  display: flex;
}
