body {
	
	background-image: url("https://blznews.akamaized.net/images/backgrounds/blizzardApp/blizzardApp_background_wow-e09aa3a683075d28d96e7536da0967dde3c254aa444754baff18c2f845da0102a484f6e61fbb41e321942ef5d9709cdfb5d2744039343d242ce8a94ad559c77d.jpg");
 	background-repeat: repeat;

}

.titulo-principal {
	text-align : center;
	padding-top: 20px;
	color: white;
	padding-bottom: 20px;
	padding-right: 50px;
}
.desc-video {
	text-align: center;
	color: white;	
}

#foot {
	text-align: right;
}

#carouselExampleControls {
	padding-bottom: 20px;
}