body {
	
	 background-image: url("../imagenes/fondo.jpg");
 	 background-repeat: repeat;

}

.titulo-principal {
	 text-align : center;
	 padding-top: 20px;
	 color: black;
	 padding-bottom: 20px;
	 padding-right: 50px;
}
.desc-video {
	 text-align: center;
	 color: black;	
}

.desc-imag {
	text-align: center;
	color: black;
}

#foot {
    text-align: right;
}

#carouselExampleControls {
	 padding-bottom: 50px;
}